*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,body{
  padding: 0px;
  margin: 0px 0px;
  box-sizing: border-box;
}

body{
  background-color: #FCF5EB;
  font-family: Helvetica Neue;
  padding: 0px;
}